<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GTA Tribute</title>
</head>

<body style="background-color: rgba(174, 184, 230, 0.123);">

    <picture>
        <source media="700px"
            srcset="https://androidayuda.com/app/uploads-androidayuda.com/2020/06/apertura-todos-gta-movil.jpg"
            alt="Imagen perteneciente de AndroidAyuda.com" style="width: 1300px; height: 300px">
        <source media="400px"
            srcset="https://androidayuda.com/app/uploads-androidayuda.com/2020/06/apertura-todos-gta-movil.jpg"
            alt="Imagen perteneciente de AndroidAyuda.com" style="width: 450px; height: 150px">
        <img src="https://androidayuda.com/app/uploads-androidayuda.com/2020/06/apertura-todos-gta-movil.jpg"
            alt="Imagen perteneciente de AndroidAyuda.com" style="width: 1300px; height: 300px">
    </picture>

    <h1 style="font-size: 300%; text-align:center">Grand Theft Auto Tribute Page</h1>

    <h2 style="text-align:center"> ¿Qué es <abbr title="Grand Theft Auto"> GTA</abbr>?</h2>

    <p> Grand Theft Auto (GTA) es una serie de videojuegos creada por David Jones y por los hermanos Sam y Dan Houser.
        Originalmente fue desarrollada por la compañía escocesa DMA Design, que posteriormente pasó a llamarse Rockstar
        North, de la empresa Rockstar Games. Grand Theft Auto cuenta la historia de distintos criminales y aunque sean
        varios, por una razón se van relacionando y envolviendo en problemas a más personajes conforme va pasando el
        tiempo. Generalmente los protagonistas son antihéroes. Es considerado un juego alto en violencia, por lo que es
        recomendado solo para mayores de edad. </p>

    <a href="https://es.wikipedia.org/wiki/Grand_Theft_Auto"> go to GTA wiki <br> </a>

    <h2 style="text-align:center"> GTA Vice City </h2>

    <p> Grand Theft Auto ambientado en los años 80, en la ciudad de Miami, en una entrega con homenajes a los mitos de
        la época, que recuerda a películas como El Precio del Poder. El gangster Tommy Vercetti tendrá que vengarse de
        una traición mientras cumple misiones. Vuelven las motos respecto a Grand Theft Auto 3, e incluye una banda
        sonora con clásicos de la época. </p>

    <a href="https://www.rockstargames.com/es/games/vicecity"> Ir a descarga <br> </a>

    <h2 style="text-align:center">Grand Theft Auto: San Andreas</h2>

    <p> El clásico de Rockstar se pone a punto con esta versión tiene una mayor distancia de visionado, más resolución y
        una lista de 33 logros. Lanzado originalmente en octubre de 2004 para PlayStation 2 -un año después llegó
        también
        a Xbox y PC-, Grand Theft Auto: San Andreas es una de las entregas más exitosas de toda la saga, con más de 27
        millones de copias vendidas, y de las más queridas por los fans. En esta aventura de acción en mundo abierto
        controlábamos a Carl «CJ» Johnson en una ambientación inspirada en California y Nevada, con Los Santos como
        ciudad
        principal, localización que volvimos a visitar en el reciente Grand Theft Auto V. </p>

    <a href="https://www.rockstargames.com/es/games/sanandreas"> Ir a descarga <br> </a>

    <h2 style="text-align:center">Grand Theft Auto IV</h2>

    <p> El cuatro Grand Theft Auto y primero de su generación vuelve a Liberty City para contarnos en Xbox 360 la
        historia de Niko Belic, un veterano de la Guerra de los Balcanes que llega a América en busca de una nueva
        vida. Más libertad de movimiento y misiones secundarias, gráficos más realistas, conducción cercana a la
        simulación, tiroteos con coberturas y un modo de juego online son las principales novedades de GTA 4, que
        cuenta con dos episodios extra: The Lost and the Damned y The Ballad of Gay Tony. </p>

    <a href="https://www.rockstargames.com/games/IV"> Ir a descarga <br> </a>


    <h2 style="text-align:center">Grand Theft Auto V</h2>

    <p> La quinta parte de Grand Theft Auto para Xbox 360 vuelve a la costa oeste americana, ambientándose en la ciudad
        de Los Santos (Los Ángeles) y sus alrededores, con una historia ambientada en la actualidad, especialmente en
        las consecuencias de la crisis económica. Está protagonizada por Michael, Franklin y Trevor, tres criminales con
        diferentes habilidades, pudiendo cambiar de personaje en todo momento y vivir cada una de sus vidas, así como
        aprovechar sus habilidades en las misiones.</p>

    <a href="https://www.epicgames.com/store/es-ES/product/grand-theft-auto-v/home"> Ir a descarga <br> </a>

    <h2 style="text-align:center">Grand Theft Auto VI</h2>

    <p> Grand Theft Auto VI es el nuevo videojuego de la saga GTA. Grand Theft Auto VI transcurrirá en dos
        localizaciones diferentes y será el primero con una protagonista femenina y transcurrirá en Miami o sus
        alrededores -o una versión ficticia del sur de Florida, Vice City en el universo de GTA-. Como principal
        novedad también permitiría explorar parte de Latinoamérica para cumplir algunas misiones, siguiendo el estilo
        de películas y series de televisión como Narcos y Barry Seals.</p>

    <a href="https://www.rockstargames.com/es/videos"> Muy pronto <br> </a>

</body>

</html>